[Desktop Entry]
Name=wxLua Editor
Comment=Editor for Lua script files
Exec=wxLua %F
Encoding=UTF-8
Terminal=false
Type=Application
MimeType=application/lua;
Categories=Development;IDE;
Icon=wxlualogo
X-GNOME-DocPath=
