/////////////////////////////////////////////////////////////////////////////
// Purpose:     Resources for wxLuaEdit
// Author:      John Labenski
// Created:     20/02/2006
// Copyright:   (c) 2006 John Labenski
// Licence:     wxWidgets licence
/////////////////////////////////////////////////////////////////////////////

// put LUA icon before the wx resources so that windows will use the lua
// icon as application's icon
lua   ICON   "../../../art/wxlua.ico"

#include <wx/msw/wx.rc>

// --------------------------------------------------------------------------
// Setup the file properties dialog fields
#define WINRC_VER_FileDescription_STR  "wxLuaEdit Lua IDE.\0"
#define WINRC_VER_InternalName_STR     "wxLuaEdit\0"
#define WINRC_VER_OriginalFilename_STR "wxLuaEdit.exe\0"
#define WINRC_VER_Productname_STR      "wxLuaEdit\0"

#include "../../../build/wxlua_version.rc"
