/*
#003366 dark blue
#336699 medium blue
#60A0C0 medium light blue
#E1EBF2 light blue
#ECF3F7 lighter blue

#E6E0D0 light tan
#F3F2EB light grey-tan

#FFCC00 orange-yellow
#FFFFD0 light yellow
*/


h1 {
  font-size:        xx-large;
  font-weight:      bold;
  color:            #336699;
  background-color: #E6E0D0;
  padding-top:      10px;
  padding-bottom:   10px;
  text-align:       center;
  border: 1px solid #336699;
  /* border-bottom: 1px solid #1F1209; */
}
h2 {
  font-size:        x-large;
  font-weight:      bold;
  color:            #336699;
  background-color: #E1EBF2;
  padding-left:     0.5em;
  padding-top:      4px;
  padding-bottom:   4px;
}
h3 {
  font-size:        large;
  font-weight:      bold;
  color:            #336699;
  background-color: #ECF3F7;
  padding-left:     0.5em;
  padding-top:      2px;
  padding-bottom:   2px;
}
h4 {
  font-size:        large;
  font-weight:      bold;
}
body {
  font-family:      Arial,Helvetica,sans-serif;
}
a:link {
  color:            #336699;
}
a:visited {
  color:            #60A0C0;
}
a:hover {
  background-color: #ECF3F7;
}
.lindent {
  margin-left:      1em;
}
.contents {
  background-color: #F3F2EB;
  border: 1px solid #FFCC00;
}
.contents ol {
  list-style-type:  none;
  font-weight:      bold;
  color:            #000000;
}
.contents ol a {
  text-decoration:  none;
}
.codebox {
  background-color: #FFFFD0;
  border: 1px solid #533419;
}
.codelua {
  background-color: #FFFFD0;
}