*.o

/modules/lua-5.1/install/
/modules/lua-5.1/src/liblua.a
/modules/lua-5.1/src/lua
/modules/lua-5.1/src/luac

/modules/lua-5.2/install/
/modules/lua-5.2/src/liblua.a
/modules/lua-5.2/src/lua
/modules/lua-5.2/src/luac

/bindings/wxwidgets/wxadv_datatypes.lua
/include/wxbind/wxadv_bind.h
/modules/wxbind/src/wxadv_bind.cpp

/bindings/wxwidgets/wxaui_datatypes.lua
/include/wxbind/wxaui_bind.h
/modules/wxbind/src/wxaui_bind.cpp

/bindings/wxwidgets/wxbase_bind.flag
/bindings/wxwidgets/wxbase_datatypes.lua
/include/wxbind/wxbase_bind.h
/modules/wxbind/src/wxbase_base.cpp
/modules/wxbind/src/wxbase_bind.cpp
/modules/wxbind/src/wxbase_config.cpp
/modules/wxbind/src/wxbase_data.cpp
/modules/wxbind/src/wxbase_datetime.cpp
/modules/wxbind/src/wxbase_file.cpp

/bindings/wxwidgets/wxcore_bind.flag
/bindings/wxwidgets/wxcore_datatypes.lua
/include/wxbind/wxcore_bind.h
/modules/wxbind/src/wxcore_appframe.cpp
/modules/wxbind/src/wxcore_bind.cpp
/modules/wxbind/src/wxcore_clipdrag.cpp
/modules/wxbind/src/wxcore_controls.cpp
/modules/wxbind/src/wxcore_core.cpp
/modules/wxbind/src/wxcore_defsutils.cpp
/modules/wxbind/src/wxcore_dialogs.cpp
/modules/wxbind/src/wxcore_event.cpp
/modules/wxbind/src/wxcore_gdi.cpp
/modules/wxbind/src/wxcore_geometry.cpp
/modules/wxbind/src/wxcore_graphics.cpp
/modules/wxbind/src/wxcore_help.cpp
/modules/wxbind/src/wxcore_image.cpp
/modules/wxbind/src/wxcore_mdi.cpp
/modules/wxbind/src/wxcore_menutool.cpp
/modules/wxbind/src/wxcore_picker.cpp
/modules/wxbind/src/wxcore_print.cpp
/modules/wxbind/src/wxcore_sizer.cpp
/modules/wxbind/src/wxcore_windows.cpp

/bindings/wxwidgets/wxgl_datatypes.lua
/include/wxbind/wxgl_bind.h
/modules/wxbind/src/wxgl_bind.cpp

/bindings/wxwidgets/wxhtml_datatypes.lua
/include/wxbind/wxhtml_bind.h
/modules/wxbind/src/wxhtml_bind.cpp

/bindings/wxwidgets/wxmedia_datatypes.lua
/include/wxbind/wxmedia_bind.h
/modules/wxbind/src/wxmedia_bind.cpp

/bindings/wxwidgets/wxnet_datatypes.lua
/include/wxbind/wxnet_bind.h
/modules/wxbind/src/wxnet_bind.cpp

/bindings/wxwidgets/wxpropgrid_datatypes.lua
/include/wxbind/wxpropgrid_bind.h
/modules/wxbind/src/wxpropgrid_bind.cpp

/bindings/wxwidgets/wxrichtext_datatypes.lua
/include/wxbind/wxrichtext_bind.h
/modules/wxbind/src/wxrichtext_bind.cpp

/bindings/wxwidgets/wxstc_datatypes.lua
/include/wxbind/wxstc_bind.h
/modules/wxbind/src/wxstc_bind.cpp

/bindings/wxwidgets/wxwebview_datatypes.lua
/include/wxbind/wxwebview_bind.h
/modules/wxbind/src/wxwebview_bind.cpp

/bindings/wxwidgets/wxxml_datatypes.lua
/include/wxbind/wxxml_bind.h
/modules/wxbind/src/wxxml_bind.cpp

/bindings/wxwidgets/wxxrc_datatypes.lua
/include/wxbind/wxxrc_bind.h
/modules/wxbind/src/wxxrc_bind.cpp

/bindings/wxwidgets/wx_datatypes.lua

/bindings/wxlua/wxlua_datatypes.lua
/include/wxlua/wxlua_bind.h
/modules/wxlua/wxlua_bind.cpp

/bindings/wxlua_debugger/wxluadebugger_datatypes.lua
/modules/wxlua/debugger/wxluadebugger_bind.cpp
/modules/wxlua/debugger/wxluadebugger_bind.h
