/////////////////////////////////////////////////////////////////////////////
// Purpose:     Resources for wxLuaStandalone
// Author:      John Labenski, J Winwood
// Created:     04/11/2001
// Copyright:   (c) 2012 John Labenski, 2001-2002 Lomtick Software. All rights reserved.
// Licence:     wxWidgets licence
/////////////////////////////////////////////////////////////////////////////

lua   ICON   "../../art/wxlua.ico"

#include <wx/msw/wx.rc>

// --------------------------------------------------------------------------
// Setup the file properties dialog fields
#define WINRC_VER_FileDescription_STR  "wxLua editor and debugger.\0"
#define WINRC_VER_InternalName_STR     "wxLua\0"
#define WINRC_VER_OriginalFilename_STR "wxLua.exe\0"
#define WINRC_VER_Productname_STR      "wxLua\0"

#include "../../build/wxlua_version.rc"
