/////////////////////////////////////////////////////////////////////////////
// Purpose:     Resources for LuaModule
// Author:      John Labenski
// Created:     05/07/2012
// Licence:     wxWidgets licence
/////////////////////////////////////////////////////////////////////////////

lua   ICON   "..\\..\\..\\art\\wxlua.ico"

#include <wx/msw/wx.rc>
